.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-40);
  padding-bottom: var(--spacing-40);
  padding-right: var(--spacing-80);
  padding-left: var(--spacing-80);
  background: var(--secondary);
  &.primary {
    background: var(--primary);
  }
  &.secondary {
    background: var(--secondary);
  }
  &.white {
    background: var(--white);
  }
  &.gray1 {
    background: var(--gray-100);
  }
  &.gray2 {
    background: var(--gray-200);
  }
  &.gray3 {
    background: var(--gray-300);
  }
  &.black {
    background: var(--black);
  }
}
.container {
  display: grid;
  column-gap: var(--spacing-16);
  max-width: 1248px;
  padding-right: var(--spacing-24);
  padding-left: var(--spacing-24);
  width: 100%;
}

.cardWithShadow {
  box-shadow: var(--shadow-small);
  border: 1px solid var(--gray-200);
}
