.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-40);
  padding-bottom: var(--spacing-40);
  padding-right: var(--spacing-80);
  padding-left: var(--spacing-80);
  background: var(--secondary);
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: var(--spacing-16);
  max-width: 1000px;
}
.white {
  background: var(--white);
}
.cardOnWhite {
  box-shadow: var(--shadow-small);
  border: 1px solid var(--gray-200);
}
.gray {
  background: var(--gray-100);
}
.primary {
  background: var(--primary);
}
.secondary {
  background: var(--secondary);
}
