.root {
  background: var(--primary);
  color: var(--white);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &.primary {
    color: var(--white);
    background: var(--primary);
  }
  &.secondary {
    color: var(--white);
    background: var(--secondary);
  }
  &.white {
    color: var(--black);
    background: var(--white);
  }
  &.gray1 {
    color: var(--black);
    background: var(--gray-100);
  }
  &.gray2 {
    color: var(--black);
    background: var(--gray-200);
  }
  &.gray3 {
    color: var(--white);
    background: var(--gray-300);
  }
  &.black {
    color: var(--white);
    background: var(--black);
  }
}
.container {
  max-width: 1248px;
  padding-right: var(--spacing-24);
  padding-left: var(--spacing-24);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: var(--spacing-80);
  padding-top: var(--spacing-80);
  column-gap: var(--spacing-40);
  width: 100%;
}
.illustration {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0px;
  bottom: 0px;
}
.main {
  max-width: 506px;
  justify-self: center;
  width: 100%;
}
.quote {
  max-width: 506px;
}
.title {
  font: var(--heading-3);
  margin-bottom: var(--spacing-16);
  padding-right: var(--spacing-24);
}
.description {
  margin-bottom: var(--spacing-24);
  font: var(--text-large);
}
.author {
  font: var(--handwriting-3);
  &.on-primary {
    color: var(--white);
  }
  &.on-secondary {
    color: var(--accent);
  }
  &.on-white {
    color: var(--primary);
  }
  &.on-gray1 {
    color: var(--primary);
  }
  &.on-gray2 {
    color: var(--primary);
  }
  &.on-gray3 {
    color: var(--accent);
  }
  &.on-black {
    color: var(--accent);
  }
}
.footer {
  display: flex;
  flex-direction: column;
}
.quote {
  font: var(--text-large);
  font-weight: 400;
}
.quoteContainer {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-32);
  position: relative;
  z-index: 10;
  width: 100%;
}
