:root {
  --font-display: Poppins, sans-serif;
  --font-text: Inter, sans-serif;
  --font-handwriting: Caveat, cursive;

  --heading-1: 800 54px/1 Poppins, sans-serif;
  --heading-2: 800 40px/42px Poppins, sans-serif;
  --heading-3: 800 32px/38px Poppins, sans-serif;
  --heading-4: 800 28px/32px Poppins, sans-serif;
  --heading-5: 700 24px/30px Inter, sans-serif;
  --heading-6: 700 18px/26px Inter, sans-serif;
  --heading-6-small: 700 16px/24px Inter, sans-serif;
  --text-large: 18px/28px Inter, sans-serif;
  --text-body: 16px/24px Inter, sans-serif;
  --text-small: 14px/20px Inter, sans-serif;
  --handwriting-3: 800 32px/38px Caveat, cursive;

  --primary: #068466;
  --secondary: #001e42;
  --accent: #fc9f5b;

  --white: #ffffff;
  --gray-100: #f8f6f4;
  --gray-200: #ecebea;
  --gray-300: #62636b;
  --black: #272929;

  --success: #57A773;
  --warning: #F19953;
  --error: #ED6A5E;

  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-120: 120px;

  --shadow-small: 3px 3px 6px 0 rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 8px 16px 0 rgba(0, 0, 0, 0.08);
  --shadow-large: 0 12px 24px 0 rgba(0, 0, 0, 0.1);

  --radius-min: 1px;
  --radius-small: 4px;
  --radius-medium: 8px;
  --radius-large: 16px;
  --radius-huge: 24px;
  --radius-pill: 9999px;
}
